h1 {
  text-align: center;
}

body {
  background: #fd9267;
}

p {
  max-width: 500px;
  text-align: center;
  margin: auto;
}
.container {
  max-width: 600px;
  margin: 30px auto;
}
.links {
  text-align: center;
}

.links a {
  color: purple;
  margin: 20px 10px;
}

.croissant-photo {
  max-width: 500px;
  display: block;
  margin: auto auto 20px;
}
